# Phase1

### Loading and Cleaning Dataset

In [111]:
import pandas as pd
restaurants_df = pd.read_csv('data/restaurants.csv')

# Preview data
restaurants_df.head()

,id,position,name,score,ratings,category,price_range,full_address,zip_code,lat,lng
0,1,19,PJ Fresh (224 Daniel Payne Drive),NaN,NaN,"Burgers, American, Sandwiches",$,"224 Daniel Payne Drive, Birmingham, AL, 35207",35207,33.562365,-86.830703
1,2,9,J' ti`'z Smoothie-N-Coffee Bar,NaN,NaN,"Coffee and Tea, Breakfast and Brunch, Bubble Tea",NaN,"1521 Pinson Valley Parkway, Birmingham, AL, 35217",35217,33.583640,-86.773330
2,3,6,Philly Fresh Cheesesteaks (541-B Graymont Ave),NaN,NaN,"American, Cheesesteak, Sandwiches, Alcohol",$,"541-B Graymont Ave, Birmingham, AL, 35204",35204,33.509800,-86.854640
3,4,17,Papa Murphy's (1580 Montgomery Highway),NaN,NaN,Pizza,$,"1580 Montgomery Highway, Hoover, AL, 35226",35226,33.404439,-86.806614
4,5,162,Nelson Brothers Cafe (17th St N),4.7,22.0,"Breakfast and Brunch, Burgers, Sandwiches",NaN,"314 17th St N, Birmingham, AL, 35203",35203,33.514730,-86.811700

In [112]:
#Missing Values
print("Missing values in Restaurants dataset:\n",restaurants_df.isnull().sum())

# Drop rows with null values in 'category'
restaurants_df = restaurants_df.dropna(subset=['category'])
restaurants_df.head()
'''
#Price
prices_unique = (
    restaurants_df['price_range']
    .str.lower()  # Convert all entries to lowercase
    .str.split(', ')  # Split each entry into a list by ", "
    .explode()  # Flatten the lists into a single series
    .str.strip()  # Remove any leading/trailing whitespace
)

price_counts = prices_unique.value_counts()
for category, count in price_counts.items():
    print(f"{category}: {count}")


print('/nScores')
#Score
scores_unique = (
    restaurants_df['score']
    .explode()  # Flatten the lists into a single series
)

score_counts = scores_unique.value_counts()
for category, count in score_counts.items():
    print(f"{category}: {count}")

'''

#Keep Price_Range of $$ to $$$$
#Keep Score from >= 3.5

Missing values in Restaurants dataset:
 id                  0
position            0
name                0
score           28167
ratings         28167
category           85
price_range     10617
full_address      453
zip_code          517
lat                 0
lng                 0
dtype: int64

'\n#Price\nprices_unique = (\n    restaurants_df[\'price_range\']\n    .str.lower()  # Convert all entries to lowercase\n    .str.split(\', \')  # Split each entry into a list by ", "\n    .explode()  # Flatten the lists into a single series\n    .str.strip()  # Remove any leading/trailing whitespace\n)\n\nprice_counts = prices_unique.value_counts()\nfor category, count in price_counts.items():\n    print(f"{category}: {count}")\n\n\nprint(\'/nScores\')\n#Score\nscores_unique = (\n    restaurants_df[\'score\']\n    .explode()  # Flatten the lists into a single series\n)\n\nscore_counts = scores_unique.value_counts()\nfor category, count in score_counts.items():\n    print(f"{category}: {count}")\n\n'

### Keep Price_Range of $$ to $$$$
### Keep Score from >= 3.5

In [113]:
filtered_df = restaurants_df[
    (restaurants_df['price_range'].isin(['$$', '$$$', '$$$$'])) &  # Keep $$ to $$$$
    (restaurants_df['score'] >= 3.5)                             # Keep ratings 3.5 and above
]

print(filtered_df)
restaurants_df = filtered_df

          id  position                                         name  score  \
15        16        88     Jeni's Splendid Ice Cream (Pepper Place)    5.0
19        20        40               MrBeast Burger (838 Odum Road)    3.7
36        37        66                       La Tia Paisa Taco Shop    4.3
43        44         7                            Dreamcakes Bakery    4.9
54        55        63               Sushi Village (Crestwood Blvd)    4.8
...      ...       ...                                          ...    ...
63320  63321        40                Chili's (6121 Westheimer Rd.)    4.5
63330  63331         9             Twin Peaks (12830 Northwest Fwy)    4.6
63332  63333         4                Denny's (9766 Katy Fwy Ste B)    4.5
63400  63401         9  Raising Cane's (1902 N. Central Expressway)    4.5
63462  63463        41                 Whataburger (4017 N 23rd St)    5.0

       ratings                                           category price_range  \
15        20.0  Ice Cream &amp; Frozen Yogurt, Comfort Food, D...         $$$
19        19.0                        American, Burgers, Sandwich          $$
36        24.0            Mexican, Breakfast and Brunch, Burritos          $$
43        17.0                Bakery, Desserts, Exclusive to Eats          $$
54       100.0                             Sushi, Asian, Japanese          $$
...        ...                                                ...         ...
63320    111.0  American, Burgers, Salads, Family Meals, Healt...          $$
63330     34.0                      Burgers, American, Sandwiches          $$
63332     89.0  American, Breakfast and Brunch, Coffee and Tea...          $$
63400     10.0                    Comfort Food, American, Chicken          $$
63462     26.0  Burgers, Fast Food, Burgers, Sandwiches, American          $$

                                          full_address    zip_code        lat  \
15                219 29th St S, Birmingham, AL, 35233       35233  33.516600
19                838 Odum Road, Gardendale, AL, 35071       35071  33.645480
36               406 W Valley Ave, Homewood, AL, 35209       35209  33.470750
43                960 Oxmoor Rd, Birmingham, AL, 35209       35209  33.473785
54     7001 Crestwood Boulevard, Birmingham, AL, 35213       35213  33.528120
...                                                ...         ...        ...
63320     6121 Westheimer Rd., Houston, TX, 77057-4523  77057-4523  29.736720
63330          12830 Northwest Fwy, Houston, TX, 77092       77092  29.843574
63332          9766 Katy Fwy Ste B, Houston, TX, 77055       77055  29.785678
63400  1902 N. Central Expressway, McKinney, TX, 75070       75070  33.217270
63462               4017 N 23rd St, McAllen, TX, 78504       78504  26.242120

             lng
15    -86.789950
19    -86.826260
36    -86.826140
43    -86.808536
54    -86.728660
...          ...
63320 -95.491000
63330 -95.494456
63332 -95.535213
63400 -96.635290
63462 -98.239670

[7512 rows x 11 columns]

### Find Unique Categories in the dataset

In [114]:
'''unique_categories = restaurants_df['category'].str.lower().unique()

for category in unique_categories:
    if 'greek' in category:
        print(category)
        
'''

#Splitting each entry in category into a single series element
all_categories = (
    restaurants_df['category']
    .str.lower()  # Convert all entries to lowercase
    .str.split(', ')  # Split each entry into a list by ", "
    .explode()  # Flatten the lists into a single series
    .str.strip()  # Remove any leading/trailing whitespace
)

In [115]:
#Finding the frequencies of each unique category
category_counts = all_categories.value_counts()
sorted_category_counts = category_counts.sort_values(ascending=False)

for category, count in sorted_category_counts.items():
    print(f"{category}: {count}")

american: 3565
burgers: 1854
family meals: 1776
healthy: 1221
family friendly: 1211
wings: 1080
salads: 1077
sandwich: 1054
comfort food: 967
breakfast and brunch: 712
desserts: 695
fast food: 692
sandwiches: 678
asian: 664
steak: 621
pasta: 619
chicken: 607
seafood: 592
mexican: 450
pizza: 431
japanese: 403
chinese: 395
vegetarian friendly: 385
bbq: 377
italian: 365
alcohol: 327
group friendly: 320
bar food: 289
sushi: 278
thai: 271
juice and smoothies: 264
asian fusion: 258
indian: 231
coffee and tea: 229
traditional american: 226
dinner: 199
mediterranean: 196
exclusive to eats: 170
noodles: 165
latin american: 159
soup: 158
vegetarian: 158
cafe: 151
fried chicken: 144
burger: 144
diner: 141
bakery: 135
liquor stores: 131
wine: 130
allergy friendly: 127
kids friendly: 125
deli: 124
southern: 116
new mexican: 111
chicken strips: 107
salad: 103
greek: 96
tex mex: 93
black-owned: 91
halal: 82
korean: 82
vietnamese: 79
middle eastern: 73
tacos: 73
new american: 72
breakfast &amp; brunch: 66
cajun: 61
vegan: 59
burritos: 54
ice cream + frozen yogurt: 51
hawaiian: 47
gluten free friendly: 44
fish and chips: 44
vegan friendly: 43
rice-bowls: 39
indian curry: 38
hot dog: 36
barfood: 34
snacks: 32
ice cream &amp; frozen yogurt: 31
peruvian: 29
ramen: 28
caribbean: 27
local specialities: 25
brazilian: 24
ethiopian: 24
açaí: 23
lebanese: 23
mongolian: 23
spanish: 23
rolls: 23
french: 22
drinks: 22
gluten free: 20
soul food: 20
vegetarian-friendly: 19
pastry: 18
japanese: sushi: 18
pakistani: 18
bubble tea: 17
omelette: 17
persian: 16
cupcakes: 16
nepalese: 15
african: 13
quesadillas: 13
gourmet: 13
sanwiches: 13
north indian: 13
pub: 13
fish &amp; seafood: 12
rice &amp; curry: 12
gyro: 10
latin fusion: 10
bowls: 10
himalayan: 10
south asian: 9
european: 9
south east asian: 8
south indian: 8
biryani: 8
specialty foods: 8
breakfast: 8
irish: 8
asian: other: 8
cantonese: 7
south american: 7
chinese: other: 7
turkish: 7
plant based: 7
rice dishes: 7
afghan: 7
gluten-free friendly: 6
women-owned: 6
northern thai: 6
japanese: ramen: 6
german: 6
brunch: 6
jamaican: 6
salvadorian: 6
african: other: 5
japanese bbq: 5
poke: 5
northeastern thai: 5
arabian: 5
kosher: 4
filipino: 4
taiwanese: 4
street food: 4
western: 4
everyday essentials: 4
russian: 4
kebab: 4
convenience: 4
modern european: 3
wraps: 3
japanese skewer food: 3
dumplings: 3
whatever: 3
stir​ fried: 3
fried foods: 3
japanese set items: 3
gift store: 3
japanese: other: 3
nigerian: 3
juice &amp; smoothies: 3
argentinian: 3
falafel: 3
bacon: 3
british: 3
african: ethiopian: 3
modern french: 3
home &amp; personal care: 3
southern thai: 3
salad / sandwiches: 3
coffee &amp; tea: 3
grocery: 3
latin american: other: 2
chinese: cantonese: 2
crepe: 2
tempura: 2
cuban: 2
belgian: 2
dumpling house: 2
west indian: 2
eggs: 2
portuguese: 2
laotian: 2
cheesesteak: 2
thali: 2
puerto rican: 2
steakhouse: 2
affordable meals: 2
ice cream: 2
asian cuisine: 2
chocolatier: 2
mac and cheese: 2
beef noodles: 2
empanada: 2
cajun / creole: 2
venezuelan: 2
retail: 1
bangladeshi: 1
juice bars: 1
dominican: 1
jewish: 1
polish: 1
dessert: other: 1
otsumami: 1
pure veg: 1
otherasian: 1
vegan-friendly: 1
sandwhiches: 1
moroccan: 1
adult: 1
aapi-owned: 1
american (new): 1
scottish: 1
tapas: 1
asian-owned: 1
malaysian: 1
bistro: 1
teppanyaki: 1
fruit: 1
tibetan: 1
egyptian: 1
chinese food: 1
marketingcampaign: 1
chinese: noodles &amp; dumplings: 1
butchershop: 1
arepa: 1
dount: 1
american (traditional): 1
south african: 1
fish/seafood: 1
low carb: 1
colombian: 1
chinese: sichuan: 1
burmese: 1
donuts: 1
frozen food: 1
sandwiches/ salads: 1
local eats: 1
dim sum: 1
flowers: 1
gifts: 1
eastern european: 1
som tum: 1
balkan: 1
bar / pub food: 1
pho: 1
australian: 1
ameican: 1
cheese: 1
keto: 1
plants: 1
sports bar: 1
iranian: 1
authentic italian: 1
armenian: 1
congee: 1
west african: 1

### Select 4-5 Categories and choose top 100 restaurants from each

In [116]:
#Create an updated dataset

selected_categories = ['steak', 'chinese', 'japanese', 'italian', 'indian', 'mediterranean']

# Final DataFrame to store the results
final_result = pd.DataFrame()

# Loop through each category
for category in selected_categories:
    # Filter rows where the category is in the 'categories' column
    filtered = restaurants_df[restaurants_df['category'].str.contains(category, case=False, na=False)]
    
    # Sort by ratings in descending order and select the top 100 entries
    top_entries = filtered.sort_values(by='score', ascending=False).head(100)
    
    # Append the results to the final DataFrame
    final_result = pd.concat([final_result, top_entries])

# Reset index for the final result
final_result = final_result.reset_index(drop=True)
final_result = final_result.sort_values(by = 'score', ascending=False)
final_result.head(20)

,id,position,name,score,ratings,category,price_range,full_address,zip_code,lat,lng
302,750,62,Hunt Brothers Pizza,5.0,11.0,"American, Italian, Wings",$$,"6090 Old Madison Pike NW, Huntsville, AL, 35806",35806,34.713470,-86.658061
301,21570,58,The Italian Gourmet (Vienna),5.0,40.0,"Sandwich, Italian",$$,"505 Maple Ave W, Vienna, VA, 22180",22180,38.895105,-77.274763
300,49999,165,Dante's Italian Eatery - Greenville Ave.,5.0,41.0,"Italian, Pizza, Pasta",$$,"12101 Greenville Ave, Dallas, TX, 75243",75243,32.912241,-96.746114
303,43506,37,Pizza Novo,5.0,10.0,"Pizza, Italian, Sandwich, Wings",$$,"6711 S Fry Rd, Katy, TX, 77494",77494,29.713210,-95.775567
204,12906,294,Soho Teriyaki,5.0,41.0,"Asian, Japanese, Chicken",$$,"10427 SE 240th St, Kent, WA, 98031",98031,47.386597,-122.201217
202,7870,231,Teriyaki Express,5.0,11.0,"Japanese, Chinese, Family Meals",$$,"1402 SE, Everett, WA, 98208",98208,47.910521,-122.212971
103,23084,251,Good Fortune,5.0,10.0,"Chinese, Sushi, Asian Fusion, Seafood, Chicken",$$,"42864 Truro Parish Dr, Ashburn, VA, 20148",20148,39.018200,-77.519810
206,30742,149,Sake Restaurant,5.0,39.0,"Japanese, Asian, Sushi",$$,"8657 Highland Dr, Sandy, UT, 84093",84093,40.593390,-111.830730
200,11123,82,Rollin' Fresh (Killingsworth),5.0,61.0,"Sushi, Japanese, Hawaiian, Family Meals",$$,"625 NE Killingsworth St, Portland, OR, 97211",97211,45.562895,-122.658964
201,25538,8,Yama Sushi Roll House (401 Granby ST),5.0,24.0,"Sushi, Japanese, Asian, Asian Fusion",$$,"401 Granby St, Norfolk, VA, 23510",23510,36.851472,-76.289931
400,58805,97,Curry Express,5.0,12.0,"Indian, Vegetarian, Asian",$$,"2014 S Goliad St, Rockwall, TX, 75087",75087,32.909440,-96.451880
105,26569,255,Green Bamboo Asian Bistro,5.0,64.0,"Chinese, Asian Fusion, Family Friendly",$$,"5751 Fishers Ln, Rockville, MD, 20852",20852,39.062913,-77.117925
106,15626,74,Midori Teriyaki Wok,5.0,13.0,"Asian, Chinese, Family Meals",$$,"1202 Supermall Way # 105, Auburn, WA, 98001",98001,47.296318,-122.247169
104,14639,130,Town Story,5.0,26.0,"Chinese, Family Meals, Exclusive to Eats",$$,"6211 Evergreen Way, Everett, WA, 98203",98203,47.941319,-122.217263
0,35736,165,Palenque Grill (La Cantera),5.0,19.0,"Mexican, Latin American, New Mexican, Seafood,...",$$,"15900 La Cantera Pkwy, San Antonio, TX, 78256",78256,29.592398,-98.611306
500,61064,80,Fadias bakery,5.0,16.0,"Mediterranean, Salads, Pizza, Healthy",$$,"910 W Parker Rd, Plano, TX, 75075",75075,33.040777,-96.714061
100,357,49,Mr. Lin Chinese Restaurant,5.0,23.0,"Chinese, Asian, Asian Fusion",$$,"475, Helena, AL, 35080",35080,33.279000,-86.851100
102,9306,108,Tiantian Noodles,5.0,14.0,"Asian, Chinese, Vegetarian Friendly",$$,"15230 NE 24th St, Redmond, WA, 98052",98052,47.632015,-122.136333
203,52913,131,Golden Oolong,5.0,42.0,"Bubble Tea, Juice and Smoothies, Japanese",$$,"1041 Blalock Rd, Houston, TX, 77055",77055,29.785838,-95.521910
205,30875,56,Ginza Japanese Shabu Shabu,5.0,22.0,"Japanese, Asian",$$,"9460 S Union Square, Sandy, UT, 84070",84070,40.579732,-111.874071

### Use the updated dataset for user interface in phase 2

In [118]:
# Export the final dataset to a CSV file
final_result.to_csv('data/top_restaurants.csv', index=False)