# Phase1

### Loading and Cleaning Dataset

In [49]:
import pandas as pd
restaurants_df = pd.read_csv('data/restaurants.csv')

# Preview data
restaurants_df.head()

,id,position,name,score,ratings,category,price_range,full_address,zip_code,lat,lng
0,1,19,PJ Fresh (224 Daniel Payne Drive),NaN,NaN,"Burgers, American, Sandwiches",$,"224 Daniel Payne Drive, Birmingham, AL, 35207",35207,33.562365,-86.830703
1,2,9,J' ti`'z Smoothie-N-Coffee Bar,NaN,NaN,"Coffee and Tea, Breakfast and Brunch, Bubble Tea",NaN,"1521 Pinson Valley Parkway, Birmingham, AL, 35217",35217,33.583640,-86.773330
2,3,6,Philly Fresh Cheesesteaks (541-B Graymont Ave),NaN,NaN,"American, Cheesesteak, Sandwiches, Alcohol",$,"541-B Graymont Ave, Birmingham, AL, 35204",35204,33.509800,-86.854640
3,4,17,Papa Murphy's (1580 Montgomery Highway),NaN,NaN,Pizza,$,"1580 Montgomery Highway, Hoover, AL, 35226",35226,33.404439,-86.806614
4,5,162,Nelson Brothers Cafe (17th St N),4.7,22.0,"Breakfast and Brunch, Burgers, Sandwiches",NaN,"314 17th St N, Birmingham, AL, 35203",35203,33.514730,-86.811700

In [50]:
#Missing Values
print("Missing values in Restaurants dataset:\n",restaurants_df.isnull().sum())

# Drop rows with null values in 'category'
restaurants_df = restaurants_df.dropna(subset=['category'])
restaurants_df.head()
'''
#Price
prices_unique = (
    restaurants_df['price_range']
    .str.lower()  # Convert all entries to lowercase
    .str.split(', ')  # Split each entry into a list by ", "
    .explode()  # Flatten the lists into a single series
    .str.strip()  # Remove any leading/trailing whitespace
)

price_counts = prices_unique.value_counts()
for category, count in price_counts.items():
    print(f"{category}: {count}")


print('/nScores')
#Score
scores_unique = (
    restaurants_df['score']
    .explode()  # Flatten the lists into a single series
)

score_counts = scores_unique.value_counts()
for category, count in score_counts.items():
    print(f"{category}: {count}")

'''

#Keep Price_Range of $$ to $$$$
#Keep Score from >= 3.5

Missing values in Restaurants dataset:
 id                  0
position            0
name                0
score           28167
ratings         28167
category           85
price_range     10617
full_address      453
zip_code          517
lat                 0
lng                 0
dtype: int64

'\n#Price\nprices_unique = (\n    restaurants_df[\'price_range\']\n    .str.lower()  # Convert all entries to lowercase\n    .str.split(\', \')  # Split each entry into a list by ", "\n    .explode()  # Flatten the lists into a single series\n    .str.strip()  # Remove any leading/trailing whitespace\n)\n\nprice_counts = prices_unique.value_counts()\nfor category, count in price_counts.items():\n    print(f"{category}: {count}")\n\n\nprint(\'/nScores\')\n#Score\nscores_unique = (\n    restaurants_df[\'score\']\n    .explode()  # Flatten the lists into a single series\n)\n\nscore_counts = scores_unique.value_counts()\nfor category, count in score_counts.items():\n    print(f"{category}: {count}")\n\n'

### Keep Price_Range of $$ to $$$$
### Keep Score from >= 3.5

In [ ]:
filtered_df = restaurants_df[
    (restaurants_df['price_range'].isin(['$$', '$$$', '$$$$'])) &  # Keep $$ to $$$$
    (restaurants_df['ratings'] >= 3.5)                             # Keep ratings 3.5 and above
]

print(filtered_df)
restaurants_df = filtered_df

          id  position                                         name  score  \
15        16        88     Jeni's Splendid Ice Cream (Pepper Place)    5.0
19        20        40               MrBeast Burger (838 Odum Road)    3.7
36        37        66                       La Tia Paisa Taco Shop    4.3
43        44         7                            Dreamcakes Bakery    4.9
54        55        63               Sushi Village (Crestwood Blvd)    4.8
...      ...       ...                                          ...    ...
63320  63321        40                Chili's (6121 Westheimer Rd.)    4.5
63330  63331         9             Twin Peaks (12830 Northwest Fwy)    4.6
63332  63333         4                Denny's (9766 Katy Fwy Ste B)    4.5
63400  63401         9  Raising Cane's (1902 N. Central Expressway)    4.5
63462  63463        41                 Whataburger (4017 N 23rd St)    5.0

       ratings                                           category price_range  \
15        20.0  Ice Cream &amp; Frozen Yogurt, Comfort Food, D...         $$$
19        19.0                        American, Burgers, Sandwich          $$
36        24.0            Mexican, Breakfast and Brunch, Burritos          $$
43        17.0                Bakery, Desserts, Exclusive to Eats          $$
54       100.0                             Sushi, Asian, Japanese          $$
...        ...                                                ...         ...
63320    111.0  American, Burgers, Salads, Family Meals, Healt...          $$
63330     34.0                      Burgers, American, Sandwiches          $$
63332     89.0  American, Breakfast and Brunch, Coffee and Tea...          $$
63400     10.0                    Comfort Food, American, Chicken          $$
63462     26.0  Burgers, Fast Food, Burgers, Sandwiches, American          $$

                                          full_address    zip_code        lat  \
15                219 29th St S, Birmingham, AL, 35233       35233  33.516600
19                838 Odum Road, Gardendale, AL, 35071       35071  33.645480
36               406 W Valley Ave, Homewood, AL, 35209       35209  33.470750
43                960 Oxmoor Rd, Birmingham, AL, 35209       35209  33.473785
54     7001 Crestwood Boulevard, Birmingham, AL, 35213       35213  33.528120
...                                                ...         ...        ...
63320     6121 Westheimer Rd., Houston, TX, 77057-4523  77057-4523  29.736720
63330          12830 Northwest Fwy, Houston, TX, 77092       77092  29.843574
63332          9766 Katy Fwy Ste B, Houston, TX, 77055       77055  29.785678
63400  1902 N. Central Expressway, McKinney, TX, 75070       75070  33.217270
63462               4017 N 23rd St, McAllen, TX, 78504       78504  26.242120

             lng
15    -86.789950
19    -86.826260
36    -86.826140
43    -86.808536
54    -86.728660
...          ...
63320 -95.491000
63330 -95.494456
63332 -95.535213
63400 -96.635290
63462 -98.239670

[7582 rows x 11 columns]

### Find Unique Categories in the dataset

In [51]:
'''unique_categories = restaurants_df['category'].str.lower().unique()

for category in unique_categories:
    if 'greek' in category:
        print(category)
        
'''

#Splitting each entry in category into a single series element
all_categories = (
    restaurants_df['category']
    .str.lower()  # Convert all entries to lowercase
    .str.split(', ')  # Split each entry into a list by ", "
    .explode()  # Flatten the lists into a single series
    .str.strip()  # Remove any leading/trailing whitespace
)

In [52]:
#Finding the frequencies of each unique category
category_counts = all_categories.value_counts()
sorted_category_counts = category_counts.sort_values(ascending=False)

for category, count in sorted_category_counts.items():
    print(f"{category}: {count}")

american: 28050
burgers: 11327
fast food: 9049
sandwiches: 7372
sandwich: 7316
mexican: 7170
healthy: 6983
family meals: 6869
comfort food: 6696
desserts: 6285
pizza: 6148
asian: 6114
breakfast and brunch: 5909
salads: 5253
wings: 4867
chicken: 4493
latin american: 3793
italian: 3750
convenience: 3503
everyday essentials: 3435
family friendly: 3293
new mexican: 3248
seafood: 3066
snacks: 2901
vegetarian: 2877
chinese: 2471
alcohol: 2437
asian fusion: 2152
coffee and tea: 2056
pasta: 1924
japanese: 1898
noodles: 1871
home &amp; personal care: 1840
bakery: 1735
bbq: 1705
juice and smoothies: 1646
indian: 1577
burger: 1516
vegetarian friendly: 1479
sushi: 1465
fried chicken: 1444
kids friendly: 1393
mediterranean: 1372
group friendly: 1358
exclusive to eats: 1338
ice cream + frozen yogurt: 1307
steak: 1273
cafe: 1254
burritos: 1192
southern: 1178
allergy friendly: 1177
thai: 1054
pharmacy: 1019
grocery: 981
korean: 954
deli: 910
tacos: 839
bar food: 830
traditional american: 802
vietnamese: 794
tex mex: 775
greek: 765
vegan: 704
coffee &amp; tea: 696
halal: 630
salad: 599
baby: 577
drinks: 557
black-owned: 551
ice cream &amp; frozen yogurt: 524
dinner: 520
new american: 515
middle eastern: 497
liquor stores: 482
soup: 481
wine: 474
bubble tea: 431
cajun: 374
caribbean: 359
donuts: 343
breakfast &amp; brunch: 341
vegan friendly: 336
gift store: 324
gluten free: 321
pastry: 317
soul food: 306
indian curry: 299
pakistani: 294
diner: 281
bowls: 268
chicken strips: 247
rice-bowls: 240
fish and chips: 239
gluten free friendly: 223
rolls: 218
ramen: 214
hawaiian: 212
local specialities: 197
hot dog: 194
african: 191
flowers: 178
retail: 173
cupcakes: 154
european: 150
spanish: 150
omelette: 140
beauty supply: 121
peruvian: 121
ethiopian: 119
specialty foods: 115
street food: 104
modern european: 103
french: 103
affordable meals: 86
poke: 86
gifts: 77
cheesesteak: 77
rice dishes: 76
açaí: 74
arabian: 73
florist: 73
plants: 73
fish &amp; seafood: 72
plant based: 72
rice &amp; curry: 72
latin fusion: 70
ice cream: 66
falafel: 66
lebanese: 64
barfood: 64
biryani: 63
mac and cheese: 61
pub: 61
gourmet: 59
fried foods: 57
nepalese: 57
south american: 57
salvadorian: 56
pretzel: 55
brazilian: 54
juice: 51
pho: 50
south east asian: 49
bagels: 48
cheese: 44
german: 44
colombian: 43
venezuelan: 42
taiwanese: 42
turkish: 41
north indian: 41
kebab: 41
vegetarian-friendly: 41
chocolatier: 40
juice &amp; smoothies: 40
jamaican: 39
japanese: sushi: 37
persian: 37
mongolian: 36
asian: other: 34
south indian: 33
filipino: 33
cantonese: 32
empanada: 32
chinese: other: 31
afghan: 31
dount: 29
keto: 29
to share: 29
crepe: 28
south asian: 28
women-owned: 28
sanwiches: 27
latin american: other: 26
juice bars: 26
cuban: 26
kosher: 25
candy: 25
asian-owned: 25
puerto rican: 25
cakes: 24
creole: 23
western: 23
quesadillas: 23
portuguese: 23
argentinian: 22
beer: 22
dessert: other: 22
stir​ fried: 21
salad / sandwiches: 21
himalayan: 21
bar / pub food: 20
aapi-owned: 19
beef noodles: 19
dumpling house: 18
cajun / creole: 18
russian: 18
nigerian: 18
laotian: 17
northeastern thai: 17
other: 17
african: other: 16
japanese bbq: 15
mercado express: 15
pure veg: 15
fruit: 14
bento: 14
pet supplies: 14
irish: 14
malaysian: 13
gluten-free friendly: 13
tamale: 13
smoothies: 13
japanese: other: 13
whatever: 13
northern thai: 12
bogo: 12
west african: 11
vegetarian / vegan: 11
dim sum: 11
japanese set items: 11
tempura: 10
sopas e caldos: 10
tea &amp; coffee: 10
breakfast: 10
gyro: 10
japanese skewer food: 10
japanese: ramen: 9
snack: 9
indonesian: 9
dumplings: 8
asado: 8
dosa: 8
chinese: cantonese: 8
australian: 7
southern thai: 7
brunch: 7
chinese: sichuan: 7
japanese sweets: 7
polish: 7
dominican: 7
tapas: 7
juiceandsmoothie: 7
british: 7
personal care: 7
south african: 7
eastern european: 7
carnicería: 7
bistro: 7
spicy hot pot: 7
paleo: 7
arepa: 6
wraps: 6
jewish: 6
western-style japanese food: 6
pet shop: 6
bangladeshi: 6
african: ethiopian: 6
egyptian: 6
japanese style curry: 6
convenience store with alcohol: 6
chinese: noodles &amp; dumplings: 6
modern french: 6
hot pot: 5
teppanyaki: 5
organicproducts: 5
frozen yogurt: 5
syrian: 5
moroccan: 5
sandwhiches: 5
szechuan: 5
appetizers: 4
aus burger: 4
flour based food: 4
crepe or creperie: 4
frozen food: 4
steakhouse: 4
canadian: 4
barbecue: 4
adult: 4
specialty: 4
cambodian: 4
belgian: 4
traditional: 4
tom yum: 4
scottish: 3
bacon: 3
congee: 3
braised pork rice: 3
iranian: 3
burmese: 3
premium: 3
health &amp; nutrition supplements: 3
especialidades: 3
momos: 3
thali: 3
chicken wings: 3
west indian: 3
singaporean: 3
yakitori: 3
hungarian: 3
chinese food: 3
eggs: 2
asian cuisine: 2
neapolitan: 2
vegan-friendly: 2
braised dishes: 2
french tacos: 2
sri lankan: 2
armenian: 2
bookstore: 2
juice bars &amp; smoothies: 2
heat and eat: 2
guatemalan: 2
*new: 2
oaxacan: 2
yucatecan: 2
tibetan: 2
modern australian: 2
swedish: 2
local eats: 2
anglo-indian: 2
european: other: 2
czech: 2
regalos y flores: 2
congee boil rice: 2
low carb: 2
farmacia: 2
salad/sandwiches: 2
barbeque: 2
indoor plants &amp; gifts: 1
poutine: 1
marketingcampaign: 1
scandinavian: 1
smoke shop: 1
chinese: taiwanese: 1
sports bar: 1
friedrice: 1
haitian: 1
sandwiches/ salads: 1
som tum: 1
ameican: 1
sushi bar: 1
friterie: 1
mexican &amp; tex-mex: 1
chilean: 1
american (traditional): 1
bolivian: 1
assorted stores: 1
non halal: 1
home &amp; decor: 1
balkan: 1
sichuan: 1
other asian: 1
butchershop: 1
okonomiyaki: 1
otherasian: 1
chinese: hot pot: 1
rotti: 1
otsumami: 1
american (new): 1
georgian: 1
romanian: 1
tonkatsu: 1
fish/seafood: 1
snackappretizer: 1
chocolate: 1
fragnant mixed rice dish cooked with spices and vegetables or meat: 1
taiwanese fried chicken: 1
authentic italian: 1
danish: 1
sicilian: 1
grilledchicken: 1

### Select 4-5 Categories and choose top 100 restaurants from each